.cart-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

.cart-drawer {
  position: absolute;
  right: 0;
  top: 0;
  width: 420px;
  height: 746px;
  background: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  .close {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
  }
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 26px 0;
}

/* EMPTY */
.empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

/* ITEMS */
.items {
  flex: 1 1 auto;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;

  img {
    width: 108px;
    height: 105px;
    border-radius: 8px;
    padding: 8px;
    object-fit: contain;
    background: #f5f5f5;
  }

  .info {
    flex: 1;
    font-family: 'Poppins', sans-serif;

    h4 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 6px;
    }

    p {
      font-size: 16px;
      color: #000;

      span {
        font-size: 12px;
        color: #b88e2f;
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }

  .remove {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background: #9F9F9F;
    cursor: pointer;
  }
}

/* FOOTER */
.footer {
  border-top: 1px solid #eee;
  padding-top: 16px;
  margin-top: auto;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 23px;
  font-family: 'Poppins', sans-serif;

  b {
    color: #B88E2F;
  }
}

.actions {
  display: flex;
  gap: 10px;

  .btn {
    flex: 1;
    padding: 8px 0;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
  }

  .outline {
    background: #fff;
    border: 1px solid #333;
  }
}

/* CART DRAWER*/
.cart-drawer .empty {
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
}

.cart-drawer .empty .cart-icon {
  font-size: 72px;
  color: #b88e2f;
  margin-bottom: 12px;
}

.cart-drawer .empty h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

.cart-drawer .empty p {
  font-size: 14px;
  color: #777;
}

.cart-drawer .empty button {
  margin-top: 20px;
  padding: 10px 28px;
  border-radius: 24px;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
}