/* HERO SECTION */
.hero {
  height: 716.83px;
  background: url('/assets/HeroBanner.png') no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 6%;
  margin-bottom: 56px;
}

.hero-content {
  background: #fff3e3;
  padding: 60px;
  max-width: 561px;

  .tag {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: px;
    letter-spacing: 3px;
    color: #333333;
    text-transform: uppercase;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #b88e2f;
    margin: 16px 0;
    line-height: 1.2;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 24px;
  }

  button {
    background: #b88e2f;
    color: #fff;
    border: none;
    padding: 14px 36px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}


/* BROWSE RANGE */
.range {
  margin-top: 0px;
  margin-bottom: 0px; 
  text-align: center;
  width: 100%;

  h2 {
    margin-top: 0; 
    font-family: 'Poppins', sans-serif;
    font-weight: 700;     
    font-size: 32px;     
    color: #333333;
  }

  p {
    margin-top: 0; 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #666666;
    margin-bottom: 3rem;
  }

  .range-grid {
    max-width: 1183px;     
    margin: 0 auto;        
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .range-card {
    img {
      width: 381px;        
      height: 450px;
      object-fit: cover;
      border-radius: 12px;
    }

    span {
      display: block;
      margin-top: 1rem;
      font-weight: 500;
      font-size: 24px;
    }
  }
}

.products {
   margin-top: 56px;
  text-align: center;

  h2 {
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-size: 40px;
    margin-bottom: 3rem;
  }
}

.show-more-wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.show-more-btn {
  width: 245px;
  height: 48px;
  background: transparent;
  border: 1px solid #B88E2F;
  color: #B88E2F;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #B88E2F;
    color: #fff;
  }
}


/* ROOMS INSPIRATION */
.rooms {
  margin-top: 69px;
  background: #fcf8f3;
  padding: 64px 0;
}

.rooms-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;              
  align-items: center;
}

/* TEXT */
.rooms-content {
  width: 420px;
  padding-left: 80px;
  margin-right: 48px;
}

.rooms-content h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.rooms-content p {
  font-size: 16px;
  line-height: 24px;
  color: #616161;
  margin-bottom: 32px;
}

.explore-btn {
  background: #b88e2f;
  color: #fff;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* IMAGES ROW */
.rooms-images {
  display: flex;            
  gap: 24px;
  width: 900px;
  overflow: hidden;
  position: relative;
}

.dots {
  position: absolute;
  bottom: 24px;
  left: 460px;   

  display: flex;
  gap: 12px;
  z-index: 4;
}

.dots span {
  width: 10px;
  height: 10px;
  background: #d8d8d8;
  border-radius: 50%;
}

.dots span.active {
  background: #b88e2f;
}


/* MAIN IMAGE */
.rooms-main {
  position: relative;
}

.rooms-main img {
  width: 404px;
  height: 582px;
  object-fit: cover;
  display: block;
}

/* Overlay card */
.room-overlay {
  position: absolute;
  bottom: 24px;
  left: 24px;
  background: #fff;
  padding: 24px;
  width: 217px;
  height: 90px;
}

.arrow-btn {
  position: absolute;
  right: 115px;
  bottom: 24px;
  width: 48px;
  height: 48px;
  background: #b88e2f;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.room-overlay span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #616161;
  display: block;
  margin-top: -10px;
  align-items: center;
  justify-content: center ;
}

.room-overlay h3 {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;
  align-items: center;
  justify-content: center ;
}

.next-btn {
  position: absolute;
  right: 80px;               
  top: 50%;
  transform: translateY(-50%);
  
  width: 56px;            
  height: 56px;
  border-radius: 50%;
  
  background: #ffffff;
  border: none;
  
  display: flex;           
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  z-index: 5;
}


.next-btn span {
  font-size: 48px;
  color: #B88E2F; 
}



.side-img {
  width: 372px;
  object-fit: cover;
}

.side-img:first-of-type {
  height: 524px; 
}

.side-img:last-of-type {
  height: 524px; 
}






.funiro {
  padding: 80px 0;
  background: #fff;
}

.funiro-container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden; 
}

/* HEADER */
.funiro-header {
  text-align: center;
  margin-bottom: 64px;
}

.funiro-header span {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #616161;
}

.funiro-header h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #3A3A3A;
}

/* CANVAS */
.funiro-canvas {
  position: relative;
  width: 1440px;
  height: 680px;
  margin: 0 auto;
}

/* GLOBAL IMAGE */
.funiro-canvas .img {
  position: absolute;
  object-fit: cover;
  display: block;
}

.setup1 {
  width: 274px;
  height: 385px;
  left: -196px;
  top: -90px;
}

.setup2 {
  width: 381px;
  height: 323px;
  left: -196px;
  top: 310px;
}


.setup3 {
  width: 451px;
  height: 312px;
  left: 94px;
  top: -20px;
}

.setup4 {
  width: 344px;
  height: 242px;
  left: 201px;
  top: 310px;
}

.setup5 {
  width: 295px;
  height: 392px;
  left: 561px;
  top: 80px;
}

.setup6 {
  width: 290px;
  height: 348px;
  left: 872px;
  top: 20px;
}

.setup7 {
  width: 178px;
  height: 242px;
  left: 872px;
  top: 380px;
}

.setup8 {
  width: 425px;
  height: 433px;
  left: 1178px;
  top: -70px;
}

.setup9 {
  width: 258px;
  height: 196px;
  left: 1066px;
  top: 380px;
}

