// html, body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* GLOBAL PAGE WIDTH */
.page-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
}

/* Prevent horizontal scroll */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
